# 注释以 # 开头
# 忽略单个文件
#secret.key
#config/local.yml

# 忽略某类文件（通配符）
#*.log
#*.tmp
#*.pyc

# 忽略整个文件夹（末尾加 /）
#node_modules/
#dist/
#temp/

# 只忽略根目录的文件/文件夹
#/temp/
#/.env


# 反向忽略（例外）
#*.log
#!important.log  # 不忽略 important.log


resources/best_model.pth

# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#项目模型，由于>100mb所以不上传
resources/best_model.pth

# 项目特定临时文件
frontend/download_cache/    #程序运行时的下载缓存
frontend/uploads/         #用户上传的临时文件
result/                     #程序运行生成的结果文件
*.GeoJson
*.geojson